<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"   
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.qingk.dao.UserMapper">
	<resultMap type="cn.qingk.entity.User" id="userResultMap">
		<result column="real_name" 	property="name" />
	</resultMap>
    
    <select id="listUsers" resultMap="userResultMap">
        SELECT * FROM t_user
    </select>
</mapper>